"*":
  autosave:
    enabled: true
  core:
    disabledPackages: [
      "language-java"
      "language-mustache"
      "language-objective-c"
    ]
    themes: [
      "dracula-ui"
      "one-dark-syntax"
    ]
  "exception-reporting":
    userId: "b02cd71d-64d8-4f17-9d04-571b289d6c60"
